$background-color: #eeeeee;
$breadcrumb-color: #999999;
$btn-primary-color: #3483fa;
$description-color: #666666;
$layout-color: #ffe600;
$margin-size: 16px;
$padding-size: 32px;
$title-color: #333333;
