@import './../../sass/utils/variables';

.breadcrumb {
    margin: {
        top: $margin-size;
        bottom: $margin-size;
    }

    &__item {
        display: initial;
        font-size: 14px;
        text-transform: capitalize;
        &:after {
            content: ' > ';
        }
        &:last-child:after {
            content: '';
        }
    }
}
