@import './../../sass/utils/variables';

.app {
    background-color: $background-color;
    min-height: 100vh;
    height: 100%;
    &__container .container-fluid {
        padding: {
            left: 64px;
            right: 64px;
        }
    }
}
