@import '../../sass/utils/variables';

.card {
    text-decoration: none;
    width: 100%;
    display: flex;
    background-color: white;

    border-bottom: 1px solid $background-color;

    &__image {
        margin: $margin-size;
        height: 180px;
        width: 180px;
        border-radius: 4px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__description {
        &-title,
        &-body {
            font-family: $font;
        }
        &-title {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 24px;
            color: $title-color;
            padding-bottom: $padding-size;
            a:link,
            a:visited,
            a:active {
                text-decoration: none;
                color: $title-color;
            }
        }
        &-body {
            color: $description-color;
            font-size: 18px;
        }
    }
    &__description,
    &__author {
        margin: {
            top: 36px;
            bottom: 36px;
        }
        padding: 0;
    }

    &__author {
        font-family: $font;
    }
}
